// Define the colors
$primary-color: #003366; // Deep blue
$secondary-color: #FF6B6B; // Vibrant coral
$accent-color: #FFD93D; // Bright yellow

body {
    font-family: 'Bellota Text', sans-serif;
    color: $primary-color;
    background-color: #f4f4f4; // Keeping background subtle to ensure readability
}

header {
    background-color: $primary-color;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    color: $secondary-color; // Headings in coral
}

a {
    color: $accent-color; // Links in bright yellow
    &:hover {
        color: darken($accent-color, 15%);
    }
}

button, .button {
    background-color: $secondary-color;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    &:hover {
        background-color: darken($secondary-color, 10%);
    }
}

footer {
    background-color: $primary-color;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}




@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#hero-heading {
    animation: fadeIn 3s ease-in-out;
}

a, button {
    transition: color 0.3s ease, background-color 0.3s ease;
}

a:hover, button:hover {
    color: darken($accent-color, 10%); // Adjust color as needed
}




